


        <div class="row pt-5 justify-content-center">
            <div class="col-8">
                <div class="card card-default">
                    <div class="card-header">
                        <h5>عضویت در سایت</h5>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="POST" action="/auth/register" novalidate>

                            <%- include(viewPath('layouts/error-messages')) -%>

                                <div class="form-group">
                                    <label for="name" class="control-label">نام کامل</label>
                                    <input id="name" type="text" class="form-control" name="name" value="<%=old('name')%>" required >
                                </div>

                                <div class="form-group">
                                    <label for="email" class="control-label">آدرس ایمیل</label>
                                    <input id="email" type="email" class="form-control" name="email" value="<%=old('email')%>" required="">
                                </div>

                                <div class="form-group">
                                    <label for="password" class="control-label">پسورد</label>
                                    <input id="password" type="password" class="form-control" name="<%=old('password')%>" required="">
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">عضویت</button>
                                    <!-- <a href="/login/google" class="btn btn-danger">ورود با اکانت گوگل</a> -->
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


