<% if(errors.length > 0) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span>×</span>
    </button>
        <% errors.forEach(error => { %>
            <%= error %><br>
                <% }) %>
    </div>
    <% } %>