<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ایجاد دوره</h2>
</div>
<form class="form-horizontal" action="/admin/courses/create" method="post" enctype="multipart/form-data">

    <%- include(viewPath('layouts/error-messages')) -%>

    <div class="form-group row">
        <div class="col">
            <label for="title" class="control-label font-weight-bold">عنوان دوره</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="عنوان را وارد کنید" value="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="type" class="control-label font-weight-bold font-weight-bold">نوع دوره</label>
            <select name="type" id="type" class="form-control">
                <option value="vip">اعضای ویژه</option>
                <option value="cash">نقدی</option>
                <option value="free" selected>رایگان</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="body" class="control-label font-weight-bold">متن</label>
            <textarea rows="5" class="form-control" name="body" id="body" placeholder="متن مقاله را وارد کنید"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="images" class="control-label font-weight-bold">تصویر دوره</label>
            <input type="file" class="form-control" name="images" id="images" placeholder="تصویر مقاله را وارد کنید" >
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="price" class="control-label font-weight-bold">قیمت</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="قیمت ها را وارد کنید" value="">
        </div>
        <div class="col">
            <label for="tags" class="control-label font-weight-bold">تگ ها</label>
            <input type="text" class="form-control" name="tags" id="tags" placeholder="تگ ها را وارد کنید" value="">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-danger">ارسال</button>
        </div>
    </div>
</form>
