<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>دوره ها</h2>
    <div class="btn-group">
        <a href="/admin/courses/create" class="btn btn-sm btn-primary">ایجاد دوره جدید</a>
        <a href="/admin/episodes" class="btn btn-sm btn-danger">بخش ویدیوها</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>عنوان مقاله</th>
            <th>تعداد نظرات</th>
            <th>مقدار بازدید</th>
            <th>تعد شرکت کننده ها</th>
            <th>وضعیت دوره</th>
            <th>تنظیمات</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/courses/آپدیت-جدید-راکت">آموزش پروژه محور bootstrap 4</a></td>
            <td>0</td>
            <td>0</td>
            <td>آموزش پروژه محور bootstrap 4</td>
            <td>
                نقدی
            </td>
            <td>
                <form action="http://localhost:8000/admin/courses/2" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="Dso45XzqoXsAkRC8BBMQ63ZsOFS0c2tELkxR4i3Y">
                    <div class="btn-group btn-group-sm">
                        <a href="http://localhost:8000/admin/courses/2/edit"  class="btn btn-primary">ویرایش</a>
                        <button type="submit" class="btn btn-danger">حذف</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <ul class="pagination">





            <li class="page-item active"><a class="page-link" href="#"><span>1</span></a></li>




            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>




            <li class="page-item"><a class="page-link" href="?page=2">&raquo;</a></li>

        </ul>
    </div>

</div>

