<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%-defineContent('title') || 'مجله اموزشی'%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="/css/vazir.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">مجله اموزشی </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><span>صفحه اصلی</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">دوره ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(auth.check) { %>
                    <li><a class="btn btn-success btn-sm ml-2" href="/user-panel">پنل کاربری</a></li>
                    <li><a class="btn btn-danger btn-sm" href="/logout">خروج</a></li>
                <% } else { %>
                    <li><a class="btn btn-success btn-sm ml-2" href="/auth/login">ورود</a></li>
                    <li><a class="btn btn-primary btn-sm" href="/auth/register">عضویت</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <%-body%>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>